.container{
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(0, 0, 0)15%,rgb(36, 9, 34),rgb(58, 26, 57));  
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

  .title{
    text-align: center;
    font-size:50px;
    color: #c7bdbd;
    animation: flipTitle 2s;
   /* .roboto-black {*/
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    top: 0;
    padding: 100px 50px;
  }
    @keyframes flipTitle {
      from{
        transform: rotateX(90deg);
      }
      to{
        transform: rotateX(0deg);
      }
    }
  .textinput{
    background-color: rgba(221, 217, 217, 0.822);
    padding: 8px;
    margin: 20px;
    margin-top: 150px;
    display: flex;
    max-width: max-content;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  }
  .textinputnamefile{
    background-color: rgba(255, 253, 253, 0.904);
    padding: 5px;
    margin: 20px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  }

  .qrcontainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
  }
    #qrcode{
      padding: 4px;
      background: linear-gradient(#5c3d61,#2c103a);
      box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
    }
    .downloadlink{
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      height: 30px;
      width: 80px;
      cursor: pointer;
      text-align: center;
    }
    .downloadlink a{
      color: #0f0116;
      text-decoration: none;
    }
    .downloadlink:hover{
      background: #153a10;
    }